 Choose Time Era
    <ul class="items">
    <li><a href="/styles/1950">The 1950s</a></li>
    <li><a href="/styles/1980">The 1980s</a></li>
    <li><a href="/styles/3000">The 3000s</a></li>
    <li><a href="/styles/blank">Erase all styles</a></li>
  </ul>