 Side menu
    <ul class="items">
    <li><a href="/styles/1950">1950</a></li>
    <li><a href="/styles/1980">1980</a></li>
    <li><a href="/styles/3000">3000</a></li>
    <li><a href="/styles/blank">BLANK</a></li>
  </ul>