<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Abril%20Fatface%7CAleo%7CAtomic%20Age%7CAudiowide%7CCoiny%7CJaldi%7CNoto%20Serif%7COpen%20Sans&fbclid=IwAR3zLwohtd94iuPFD4yH_-jyM3IeoM8JrKWRS0g0gaPf0nK7ueFB3VyW3m8" rel="stylesheet">
  <title>Home</title>
  <style>
      
      body {
        font-color:"Green";
      }

      h1 {
        font-family: "Abril Fatface";
        font-color: "{{h1-font-color}}";
        font-size:"{{h1-font-size}}";
      }
              
      #layout {     
          display:table-row;    
      }            
      #content {     
          display:table-cell;   
          text-align:center;  
          vertical-align:middle;   
      word-wrap:break-word; 
      }      
      #center {
          height: 170px;
          width: 270px;
          font-size: 48px;
          text-align: center;
          vertical-align: middle;
        }   
  </style>
</head>
<body>
    <div id = "layout">
      <h1><div id = "center">Welcome to the Stylizer</div></h1>
    </div>
    
  <div><button type="Enter">Enter</button></div>
</body>
</html>