<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <link href= {{font-URL}}
  rel="stylesheet"> 
  <title>Document</title>
</head>
<body>

  <style>
    * {
  margin: 0;
  padding: 0;
}

body {
  background-color: {{background-color}};
}

#wrapper{
  display: grid;
  grid-template-columns: .5fr 2fr;
}

.container{
  margin: 10px;
  padding: 10px;
  background-color: white;
  border: solid 1px black;

}

.one {
  grid-column: 1/3;
  height: 100px;
  font-family: {{font-family}};
}

.two {
  height: 80vh;
}

.items{
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  list-style-type: none;
}
.items li{
  border: solid 1px black;
  margin: 5px;
  padding: 20px;
}

@media only screen and (max-width: 600px) {

  #wrapper{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
  }

  .one {
    grid-column: 1/1;
    height: 50px;
  }
  
  .two {
    height: 100px;
  }
  .three {
    height: 400px;
  }
}
    </style>

<div id="wrapper">
  <div class="container one">
    {{> header}}
  </div>
  <div class="container two">
    {{> menu}}
    {{!-- Side menu
    <ul class="items">
    <li>Style One</li>
    <li>Style Two</li>
    <li>Style Three</li>
    <li>Style Four</li>
  </ul> --}}

  </div>
  <div class="container three">
    Description
  </div>
</div>
  
</body>
</html>